{% extends "base.html" %} {% block content %}
<div class="card">
  <a href="/tickets/create">Novo Ticket</a>
  <h3>Seus tickets</h3>
  <table>
    <tr>
      <th>Título</th>
      <th>Status</th>
      <th>Aberto em</th>
      <th>Responsável</th>
      <th>Ações</th>
    </tr>
    {% for t in tickets %}
    <tr>
      <td>{{t.titulo}}</td>
      <td>{{t.status}}</td>
      <td>{{t.criado_em}}</td>
      <td>{{t.responsavel.username if t.responsavel else "-"}}</td>
      <td><a href="/tickets/{{t.id}}">Ver</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
